<p>Thank you for your sign purchase! </p> 

<p>An email including your sign codes and PINs was sent to the email address used for payment through your PayPal account. If you do not receive an email within a few hours please contact us at <a href="mailto:support@faxjax.com">support@faxjax.com</a>.</p>
