  <div>
    <label for="help_topic_title">Title:</label>
    <%= text_field :help_topic, :title, :size=>35 %>
  </div>

  <div>
    <label for="help_topic_content">Content:</label>
    <%= text_area :help_topic, :content %>
  </div>

