<h2>Select a listing Type</h2>
<ul>
  <li><%= link_to 'Listing - Premium (Add information to your activated listing)', :action=>"add_step1"%></li>
  <li><%= link_to 'Listing - Basic (Create a Classified Ad)', :action=>"add", :controller => 'basic_listings' %></li>
</ul>