Thank you for becoming an affiliate of Faxjax, Inc.

Here are your instructions to get started:

Copy and paste this HTML snippet somewhere on your site or blog:

    <a href="http://www.faxjax.com?ac=<%= @affiliate_code -%>">Find it Fast at Faxjax!</a>


 The Faxjax, Inc. team.
 support@faxjax.com
-----
This email was sent to you because you (or someone) signed up to become  
an affiliate at http://www.faxjax.com. If this was in error please disregard 
this notice. Please report abuse at support@faxjax.com