html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}
body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    letter-spacing: normal;
    line-height: normal;
}
ol, ul {
    list-style: none outside none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}
:focus {
    outline: 0 none;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    background-color: #999999;
    margin: 0;
    padding: 0;
}
.clear {
    clear: both;
}
.pro_text {
    font-family: Arial,Helvetica,sans-serif;
    letter-spacing: normal;
    line-height: normal;
}
#main_container {
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 0 10px;
    width: 750px;
}
.header_main {
    padding: 6px 0 0;
    width: 750px;
}
.logo_main {
}
.logo {
    float: left;
}
.logo_right {
    float: right;
    width: 500px;
}
.header_link_main {
    color: #27649A;
    font-size: 15px;
    font-weight: 100;
    padding: 0 5px 0 0;
    text-align: right;
}
.header_link_main a {
    color: #27649A;
    font-family: Arial,Helvetica,sans-serif;
    text-decoration: underline;
}
.search_main {
    padding: 10px 0 0 295px;
}
.search_main .left_bg {
    background: url("../images/search_left.png") no-repeat scroll center center transparent;
    color: #000000;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 30px;
    margin: 6px 0 0;
    width: 11px;
}
.search_main input[type="text"] {
    background: url("../images/search_mid.png") repeat-x scroll center center transparent;
    border: 0 none;
    float: left;
    height: 30px;
    margin: 6px 0 0;
    width: 150px;
}
.search_main input[type="submit"] {
    background: url("../images/search_icon.png") no-repeat scroll left center transparent;
    border: 0 none;
    cursor: pointer;
    float: left;
    height: 41px;
    width: 44px;
}
.menu_main {
    padding: 25px 0 0;
}
.menu_left_bg {
    background: url("../images/left_bg.png") no-repeat scroll center center transparent;
    float: left;
    height: 26px;
    width: 9px;
}
.menu_right_bg {
    background: url("../images/right_bg.png") no-repeat scroll center center transparent;
    float: left;
    height: 26px;
    width: 11px;
}
.menu_mid_bg {
    background: url("../images/mid_bg.png") repeat-x scroll center center transparent;
    float: left;
    height: 26px;
    width: 730px;
}
ul.menu_link {
    list-style-type: none;
}
ul.menu_link li {
    float: left;
    padding: 0 46px;
}
ul.menu_link li a {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}
ul.expertise_mainmenu {
    padding: 4px 0 0;
}
ul.expertise_mainmenu {
    padding: 3px 0 0;
}
ul.expertise_mainmenu li {
    float: left;
    font-weight: bold;
    list-style-type: none;
    padding: 1px 32px;
    text-align: center;
}
ul.expertise_mainmenu li a:link, ul.expertise_mainmenu li a:visited {
    color: #FFFFFF;
    font-family: "Arial";
    font-size: 14px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 17px;
    text-decoration: none;
}
ul.expertise_mainmenu li:hover a, ul.expertise_mainmenu li a:hover, ul.expertise_mainmenu li a:active {
    color: #000000;
    font-family: "Arial";
    font-size: 14px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 17px;
    text-decoration: none;
}
ul.expertise_mainmenu li ul.expertise_submenu {
    background-color: #E06E2A;
    border: 1px solid #666666;
    border-radius: 0 0 5px 5px;
    box-shadow: -1px 1px 3px #3B3B3B;
    display: none;
    float: left;
    list-style-type: none;
    padding: 0 10px 10px;
    position: absolute;
    top: 125px;
    z-index: 12;
}
ul.expertise_mainmenu li:hover ul.expertise_submenu {
    display: block;
}
ul.expertise_mainmenu li ul.expertise_submenu li {
    clear: both;
    padding: 5px;
    text-align: left;
    width: auto;
}
ul.expertise_mainmenu li ul.expertise_submenu li a:link, ul.expertise_mainmenu li ul.expertise_submenu li a:visited {
    border-bottom: 1px dotted #333333;
    color: #FFFFFF;
    font-family: "Arial";
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 17px;
    padding: 5px 0;
    text-decoration: none;
    width: auto;
}
ul.expertise_mainmenu li ul.expertise_submenu li:hover a, ul.expertise_mainmenu li ul.expertise_submenu li a:active, ul.expertise_mainmenu li ul.expertise_submenu li a:hover {
    color: #000000;
    font-family: "Arial";
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 17px;
    padding: 5px 0;
    text-decoration: none;
    width: auto;
}
ul.expertise_mainmenu_default {
    padding: 4px 0 0;
}
ul.expertise_mainmenu_default {
    padding: 3px 0 0;
}
ul.expertise_mainmenu_default li {
    float: left;
    font-weight: bold;
    list-style-type: none;
    padding: 1px 45px;
    text-align: center;
}
ul.expertise_mainmenu_default li a:link, ul.expertise_mainmenu_default li a:visited {
    color: #FFFFFF;
    font-family: "Arial";
    font-size: 14px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 17px;
    text-decoration: none;
}
ul.expertise_mainmenu_default li:hover a, ul.expertise_mainmenu_default li a:hover, ul.expertise_mainmenu_default li a:active {
    color: #000000;
    font-family: "Arial";
    font-size: 14px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 17px;
    text-decoration: none;
}
ul.expertise_mainmenu_default li ul.expertise_submenu {
    background-color: #E06E2A;
    border: 1px solid #666666;
    border-radius: 0 0 5px 5px;
    box-shadow: -1px 1px 3px #3B3B3B;
    display: none;
    float: left;
    list-style-type: none;
    padding: 0 10px 10px;
    position: absolute;
    top: 125px;
    z-index: 12;
}
ul.expertise_mainmenu_default li:hover ul.expertise_submenu {
    display: block;
}
ul.expertise_mainmenu_default li ul.expertise_submenu li {
    clear: both;
    padding: 5px;
    text-align: left;
    width: auto;
}
ul.expertise_mainmenu_default li ul.expertise_submenu li a:link, ul.expertise_mainmenu_default li ul.expertise_submenu li a:visited {
    border-bottom: 1px dotted #333333;
    color: #FFFFFF;
    font-family: "Arial";
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 17px;
    padding: 5px 0;
    text-decoration: none;
    width: auto;
}
ul.expertise_mainmenu_default li ul.expertise_submenu li:hover a, ul.expertise_mainmenu_default li ul.expertise_submenu li a:active, ul.expertise_mainmenu li ul.expertise_submenu li a:hover {
    color: #000000;
    font-family: "Arial";
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 17px;
    padding: 5px 0;
    text-decoration: none;
    width: auto;
}
.body_main_contain {
    margin: 5px 0 0;
    padding: 0 0 0 11px;
    width: 750px;
}
.body_main {
    background-color: #FDEAD7;
    border-radius: 10px 10px 10px 10px;
    float: left;
    margin: 0 0 10px 10px;
    min-height: 392px;
    padding: 0 10px 10px;
    width: 539px;
}
.body_main p {
    color: #000000;
    font-family: "Arial";
    font-size: 12px;
    line-height: 17px;
}
.body_main h1, h2, h3 {
    color: #000000;
    font-family: "Arial";
    text-align: left;
}
.pro_banner_main {
    padding: 5px 0 0;
}
.pro_banner_bg {
    background: url("../images/pro_banner_bg.png") repeat-x scroll center bottom transparent;
    border: 1px solid #D8B190;
    height: 268px;
}
.pro_left {
    float: left;
    width: 325px;
}
.side_bar_main {
    background-color: #FFFFFF;
    float: left;
    width: 163px;
}
.topic_main {
    background-color: #000000;
    border-radius: 5px 5px 5px 5px;
    margin: 0 8px 5px 0;
    padding: 3px;
    text-align: center;
}
.topic_main h1 {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    text-transform: uppercase;
}
.cat_title_plus {
    background: url("../images/plus.png") no-repeat scroll right center transparent;
    clear: both;
    cursor: pointer;
    margin: 0;
    padding: 0 22px 0 0;
}
.cat_title_plus img {
    float: left;
}
.cat_title_plus h1 {
    color: #514D4A;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 0 0 5px;
    text-transform: capitalize;
}
.cat_title_min {
    background: url("../images/min.png") no-repeat scroll right center transparent;
    clear: both;
    cursor: pointer;
    margin: 0;
    padding: 0 22px 0 0;
}
.cat_title_min img {
    float: left;
}
.cat_title_min h1 {
    color: #514D4A;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 0 0 5px;
    text-transform: capitalize;
}
ul.side_link {
    clear: both;
    display: none;
    list-style-type: none;
    padding: 0 0 10px 5px;
}
ul.side_link li {
    padding: 2px 0;
}
ul.side_link li a {
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    text-decoration: none;
}
ul.video_link {
    clear: both;
    list-style-type: none;
    padding: 0 0 10px 5px;
}
ul.video_link li {
    background: url("../images/video.png") no-repeat scroll left center transparent;
    padding: 5px 0 5px 25px;
}
ul.company_link li a {
    clear: both;
    color: #494949;
    font-weight: bold;
    list-style-type: none;
    padding: 0 0 10px 5px;
}
ul.company_link li {
    background: url("../images/arrow.png") no-repeat scroll left center transparent;
    color: #494949;
    padding: 5px 0 5px 25px;
}
ul.video_link li a {
    color: #494949;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    text-decoration: none;
}
.footer_main_contain {
    width: 750px;
}
.footer_top_main {
}
.foo_left-bg {
    background: url("../images/footer_left_bg.png") no-repeat scroll center center transparent;
    float: left;
    height: 125px;
    width: 23px;
}
.foo_right-bg {
    background: url("../images/footer_right_bg.png") no-repeat scroll center center transparent;
    float: left;
    height: 125px;
    width: 23px;
}
.foo_mid-bg {
    background: url("../images/footer_mid_bg.png") repeat-x scroll center center transparent;
    float: left;
    height: 125px;
    width: 704px;
}
.search_list_main {
    float: left;
    padding: 5px 0 0 14px;
    text-align: right;
    width: 300px;
}
.search_list_main h1 {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
.search_list_main span {
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin: 5px 20px 0 0;
}
.search_list_main input[type="text"] {
    background-color: #FFFFFF;
    border: 0 none;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 20px;
    margin: 7px 0 0;
    width: 150px;
}
.search_list_main input[type="submit"] {
    background-color: #000000;
    border: 0 none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 7px 0px 5px 0;
    padding: 3px 0;
    width: 31px;
}
.foo_sign_main {
    float: right;
    padding: 5px 14px 0 0;
    text-align: left;
    width: 300px;
}
.foo_sign_main h1 {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
.foo_sign_main span {
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin: 5px 0 0 20px;
}
.foo_sign_main input[type="text"] {
    background-color: #FFFFFF;
    border: 0 none;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 20px;
    margin: 7px 0 0;
    width: 150px;
}
.foo_sign_main input[class="pin"] {
    background-color: #FFFFFF;
    border: 0 none;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 20px;
    margin: 7px 0 0;
    width: 47px;
}
.foo_sign_main input[type="submit"] {
    background-color: #000000;
    border: 0 none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 7px 0 5px 48px;
    padding: 3px 0;
    width: 62px;
}
.foo_call_main {
    background: url("../images/call_bg.png") no-repeat scroll center center transparent;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    height: 29px;
    margin: 0 auto;
    padding: 12px 0 0 20px;
    text-align: center;
    width: 166px;
}
.foo_social_main {
    text-align: center;
}
.foo_social_main img {
    margin: 5px;
}
.content {
    list-style-type: none;
}
.content li {
    background: url("../images/arrow.png") no-repeat scroll left center transparent;
    padding: 5px 0 5px 25px;
}
.content ul ul {
    list-style-type: none;
    margin-left: 10px;
}
.content a {
    color: #494949;
}
.content h1 {
    color: #E76E29;
    font-weight: bold;
    margin-left: 9px;
}
.content h1 a {
    color: #E76E29;
    font-size: 14px;
    text-decoration: underline;
}
.ho_it_main {
    padding: 20px 0 0;
}
.ho_it_main fieldset {
    background-color: #EF843C;
    border-radius: 10px 10px 10px 10px;
    float: left;
    padding: 0;
    width: 437px;
}
.ho_it_main .titl {
    margin: 0 auto;
    position: relative;
    top: -15px;
    width: 400px;
}
.ho_it_main legend {
    background-color: #000000;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 17px;
    font-weight: bold;
    margin: 0 auto;
    padding: 5px 0;
    text-align: center;
    width: 400px;
}
.ho_img_main_con {
    padding: 0 0 20px 0;
}
.ho_img_main {
    padding: 0 0 10px;
}
.ho_lft_main {
    float: left;
    padding: 0;
    text-align: center;
    width: 69px;
}
.ho_lft_main img {
    border: 5px solid #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    margin: 0 0 10px;
}
.ho_right_main {
    background-color: black;
    border: 5px solid #000000;
    border-radius: 10px 10px 10px 10px;
    float: left;
    margin: 9px 0 0 10px;
    padding: 0 0 10px;
    text-align: center;
    width: 345px;
}
.ho_right_main h1 {
    background-color: #000000;
    color: #F5680C;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 17px;
    padding: 5px 0;
    text-align: center;
}
.ho_right_main img {
}
.ho_menu_main {
    float: left;
    padding: 17px 0 0;
    width: 35px;
}
.ho_menu {
    cursor: pointer;
    margin: 0 0 5px;
    width: 35px;
}
.ho_menu_left {
    background: url("../images/menu_left.png") no-repeat scroll right bottom transparent;
    height: 9px;
    width: 28px;
}
.ho_menu_right {
    background: url("../images/menu_right.png") no-repeat scroll right top transparent;
    height: 9px;
    width: 28px;
}
.ho_menu_mid {
    background: url("../images/menu_mid.png") repeat-y scroll right bottom transparent;
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    width: 28px;
}
.ho_menu_b_left {
    background: url("../images/menu_b_left.png") no-repeat scroll right bottom transparent;
    height: 9px;
    width: 28px;
}
.ho_menu_b_right {
    background: url("../images/menu_b_right.png") no-repeat scroll right top transparent;
    height: 9px;
    width: 28px;
}
.ho_menu_b_mid {
    background: url("../images/menu_b_mid.png") repeat-y scroll right bottom transparent;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    width: 28px;
}
.text_box {
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 0;
    padding: 2px;
}
.text_area {
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 0;
    padding: 2px;
}
.createlist {
    background: url("../images/create_list.png") repeat-x scroll center center transparent;
    border-radius: 5px 5px 5px 5px;
    margin: 0 0 5px;
    padding: 6px;
    text-align: center;
}
.createlist a {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}
#jFlowSlide {
    font-family: arial;
}
#myController {
    font-family: Georgia;
    padding: 6px 0;
    width: 530px;
}
#myController span.jFlowSelected {
    background: url("../images/blu_dot.png") no-repeat scroll center center transparent;
    margin: 5px;
}
.slide-wrapper {
    padding: 5px;
}
.slide-thumbnail {
    float: left;
    width: 300px;
}
.slide-thumbnail img {
    max-width: 300px;
}
.slide-details {
    float: right;
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 15px;
    min-height: 210px;
    width: 195px;
}
.slide-details h2 {
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    color :red;
    text-align: center;
}
.slide-details h3 {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    text-align: center;
}
.slide-details .description {
    margin-top: 10px;
    text-align: center;
}
.slide-details .view {
    margin-top: 10px;
    text-align: center;
}
.jFlowControl, .jFlowPrev, .jFlowNext {
    background: url("../images/or_dot.png") no-repeat scroll center center transparent;
    color: #FFFFFF;
    cursor: pointer;
    height: 5px;
    margin: 3px;
    padding: 0 10px;
    width: 20px;
}
.jFlowControl:hover, .jFlowPrev:hover, .jFlowNext:hover {
    background: url("../images/blu_dot.png") no-repeat scroll center center transparent;
}
.baner_bottom_text {
    background-color: black;
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}
