<div>
  <label for="password">Password: <%= required_if_empty(@user.id).html_safe %></label>
  <%= password_field :user, :password, :size=>25 %>
</div>
<div>
  <label for="password">Confirm: <%= required_if_empty(@user.id).html_safe %></label>
  <%= password_field :user, :password_confirmation, :size=>25 %>
</div>
