<br/><h3><b>Corporate Office</b></h3><br/>
<% @ci = HomeHelper::ContactInfo.from_yaml %>
<blockquote>
  <%= raw(strong do @ci.name end) %><br/>
Phone: <%= @ci.phone %>
<br/><%= mailto(@ci.email).html_safe %>
</blockquote><br/>

<!-- 
<blockquote>
<strong>FAXJAX.COM, Inc.</strong><br/>
Phone: 855.532.9529
<br/>
<a href="mailto:support@faxjax.com">support@faxjax.com</a>
</blockquote>
-->

<h3><b>Overview</b></h3><br/>
<p>Faxjax.com has a new offering of classified website personalized for selling your product. Offering a 6-month classified advertisement which gives you, the seller, a personal website package that includes: inquiry forwarder, personal mailbox, and most importantly, a free sign that includes a QR code. A QR Code or “Quick-Response code is a two-dimensional matrix barcode that is readable by dedicated QR readers and smartphones). Using these codes by sampling entering your specific search id, directs traffic to your own advertising personal advertising space.
</p><br/>
<p>
The packages include free "For Sale", "For Rent" or "For Lease" signs among others. The signs themselves are not only powerful advertising tools, but they also come with a 180-day subscription to your own internet classified ad and a personal mailbox. The mailbox can send alerts to a personal email account protecting the seller's email address and thus adding additional privacy to the seller. This site also works as a link to other sites you may already be advertising on, such as “Craigslist.org”, or other local classified advertising offerings.
</p><br/>
<p>
As a purchased 180-day continuous subscription, you may use the classified for a number of different products. You are purchasing the space and the sign leads your buyers to what you have for sale at that time.
</p><br/>
<p>
When one of our signs is affixed to a product, a Visual-to-Virtual (V2V) bridge is formed between the item and its virtual internet classified advertisement. We bring an enhanced experience to the personal advertising and selling effort. It is the faxjax sign that turns any product into a billboard that can add local exposure to the product while adding exposure to the wider internet audience. As a seller, when you use a faxjax sign you don't even need to have internet access to leverage the power of the internet. 
</p><p>
Our signs allow sellers to capitalize on their strongest selling tool; the product itself... there is the added benefit of the internet! 
</p><p>
The seller simply purchases a sign, activates the sign & inputs the product information on the faxjax.com website, then places the sign on their product; a simple 1 - 2 - 3 process. Customers who see an item of interest such as an auto, recreational vehicle, snowmobile, tractor, trailer, boat, home, cottage, etc. simply come to the faxjax.com web site, enter an easy-to-remember 5-digit id, or search on product attributes and learn more about the product in the privacy of a web site visit. They can then use the web site to send a message or call the seller. 
</p><br/>
<p>
The cost of our services is a phenomenal value. When purchased separately a classified ad can be expensive. But with the faxjax classified advertising system, the faxjax sign id can be used in conjunction with a print classified using the 5-digit id to reduce the number of lines required for your print advertising in newspapers and magazines. With the Quick-Response codes this becomes most powerful.
</p><br/>
<p>
<h2><b>Mission</b></h2><br/>
</p><p>
Our mission is to make life a little easier by offering our customer a straightforward, time-saving method to sell, rent or lease their product in the shortest amount of time. For potential customers who see something they like, they can quietly and independently research their purchase as traditional websites allow this can assist the seller in pre-screening the buyers through the on-line personal shopping process. In this busy life, we hope to remove a little of the anxiety that can accompany a transaction, out of the process. The service we provide is helping to connect the person who sees a product with a new or existing web presence. 
</p><br/>
<p>
We believe that every effort that a seller takes to enhance their promotional tools also enhances their likelihood of completing the transaction. 
</p><br/>
<p>
*Please contact us for information on our affiliate offerings.
</p>
