<% if !@sent %>

  <% form_tag do %>
    <% if flash[:error] %>
      <div id="flash-error"><%= flash[:error] %></div>
    <% end %>
<br/>
    <div class="field">
      <label for="name">Username</label>
      <%= text_field_tag :name, @name %>
    </div>
    
    <p><strong>or</strong></p>
    
    <div class="field">
      <label for="password">Email address</label>
      <%= text_field_tag :email, @email %>
    </div><br/>
  
    <%= submit_tag "Send Password Reset", {:class => "submit"} %>
  <% end %>
<% else %>
  Once you've received your password reset email, please click the link to continue

<% end %>
