<%= render(:partial => "index_default") if !admin? %>
<%= render(:partial => "index_admin") if admin? %>

<!--<div class="pro_banner_main">
            	<div class="pro_banner_bg">
                
                <div id="slider">

               <div id="mover">
            
                   <div id="slide-1" class="slide">
                    <span class="rightalign">
                        <h1>Garden Rack</h1>
                        
                        <p>Donec gravida posuere arcu. Nulla facilisi. Phasellus imperdiet. Vestibulum at metus. Integer euismod. Nullam placerat rhoncus sapien. Ut euismod. Praesent libero. Morbi pellentesque libero sit amet ante. Maecenas tellus.</p>					
                        </span>
                        <a href="#"><img src="images/slide-1-image.png" alt="learn more" /></a>
    
                    </div>
                    
                    <div class="slide">
                        <span class="rightalign">
                        <h1>Tulip Bulbs</h1>
                        <p>Donec gravida posuere arcu. Nulla facilisi. Phasellus imperdiet. Vestibulum at metus. Integer euismod. Nullam placerat rhoncus sapien. Ut euismod. Praesent libero. Morbi pellentesque libero sit amet ante. Maecenas tellus.</p>					
                        </span>
                        
                        <a href="#"><img src="images/slide-2-image.png" alt="learn more" /></a>
    
                    </div>
                    
                    <div class="slide">
                        <span class="rightalign">
                        <h1>Garden Gloves</h1>
                        <p>Donec gravida posuere arcu. Nulla facilisi. Phasellus imperdiet. Vestibulum at metus. Integer euismod. Nullam placerat rhoncus sapien. Ut euismod. Praesent libero. Morbi pellentesque libero sit amet ante. Maecenas tellus.</p>
                        </span>
                        <a href="#"><img src="images/slide-3-image.png" alt="learn more" /></a>
                        
                    </div>
                
                </div>
		
				</div>	
                
                </div>            
            	
                </div><br/>
		
		<div style="font-size:13px;"><b>FaxJax.com </b>combines on-line classified ads with a free FOR SALE or FOR RENT sign. Sell or Rent your stuff fast! GEt people directly to your page!<br/><br/>

               <b>FaxJax.com </b>provides a uique system for a visual connection with your physical product or property. If you are "For Sale by Owner" or "For Rent by Owner" this sign is essential!<br/><br/>

               <b>Save money, time, and relieve stress. Use our sign as a 'SILENT SALESPERSON'</b> On you Auto, Boat,RV, ATV, Tailer, Tractor, Home, apartments and houses for rent, Vacation Rental Property, Real Estate, Warehouse, Condo, Motorcycle, Yard Sale, etc.<br/><br/>
	      
	     <span style="color:#009900">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>MOBILE ACCESS DIRECT FROM SIGNS</b></span><br/>
	      
              Customer can optionally use the QR(Quick Response) Code with a Smart Phone.</div><br/>
	      -->