<br/><h3><b>Privacy &amp; Security</b></h3><br/>

<p>Faxjax.com, Inc. respects the privacy of individuals that use the Company's services. We are committed to respecting your online privacy and recognize your need for appropriate protection and management of any personally identifiable information you share with us.</p>
<br/>
<h3><b>User Information</b></h3><br/>

<p>Faxjax.com, Inc. does not collect any personally identifiable information about you (such as your name, email address, etc.) except when in your capacity as a purchaser of our products where specifically and knowingly provide such information.</p>
<br/>
<h3><b>Cookies</b></h3><br/>

<p>A cookie is a small piece of data that is transmitted to an end-user's computer and stored in the cookie directory of that user's hard drive. A cookie identifies an end-user as a unique, anonymous user (but does not collect or transmit any personally identifiable information about that end-user). Faxjax.com, Inc.  uses cookies to authenticate and keep track of user sessions and to measure the number of unique users viewing particular ads. As an end-user, you can generally configure your browser to accept all cookies, reject all cookies, or notify you when a cookie is set. (Each browser is different, so check the 'Help' menu of your browser to learn how to change your cookie preferences). Please note that if you reject all cookies, then ads will become more repetitive and you will be more likely to see the same ad over and over again.</p>
<br/>
<h3><b>Information Sharing</b></h3><br/>

<p>Faxjax.com, Inc. will not share any personally identifiable information we may collect about you with any third party without your express consent unless we are required to do so in order to comply with any valid legal process such as a search warrant, subpoena, statute, or court order.  
</p><br/>
<%= contact_info %><br/>

<!-- <h4>To contact Faxjax.com, Inc.:</h4>
<p>Faxjax.com, Inc.<br/>
 
<p>We can also be reached at 1-855-532-9529 (855-5-faxjax) or by email at <a href="mailto:support@faxjax.com">support@faxjax.com</a>.
-->
