<br/><h2><b>SOFTWARE/WEB-SITE/PRODUCT COPYRIGHTS, USAGE TERMS AND CONDITIONS:</b></h2><br/>

<p>This web-site and the legal documents included herein as produced by FAXJAX.COM, INC. are protected by international copyright and trademark laws. FAXJAX.COM, INC. retains all rights and interests in this intellectual property. FAXJAX.COM, INC. grants you a personal, non-transferable and non-exclusive right and license to use any faxjax.com product (and fully paid for) by you from the web site or any other authorized source or location. However, you may not modify, copy, reproduce, sell, transfer, or distribute in any way any product that you have purchased from FAXJAX.COM, INC. You may use the purchased products so long as that use is not for resale purposes. 
</p><br/>
<p>By agreeing to these terms and conditions, the purchaser of any product agrees that he or she shall hold FAXJAX.COM, INC. harmless from any and all claims or damages (whether foreseeable or not foreseeable) that may arise in any way from the use of the product so purchased. The purchaser also agrees not to bring any legal action or claim, nor to assert any cause of action in any court, tribunal or administrative agency, against FAXJAX.COM, INC. as a result of the use of any product purchased. 
</p><br/>
<p>Further, FAXJAX.COM, INC. makes no representations about the lack of viruses or other harmful components and related graphics contained within this site. All such information, products and related graphics are provided "as is"; without warranty of any kind. FAXJAX.COM, INC.  
</p><br/>
<p>IN NO EVENT SHALL FAXJAX.COM, INC. BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF PROFIT, MONETARY DAMAGES, LOSS OF USE, DATA OR PROFITS, ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OR PERFORMANCE OF THE PRODUCTS OFFERED FOR SALE ON THIS SITE, OR FOR ANY INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS OBTAINED THROUGH THIS SITE, OR OTHERWISE ARISING OUT OF THE USE OF THIS SITE, WHETHER BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE, EVEN IF FAXJAX.COM, INC. HAS BEEN ADVISED OF THE POSSIBILITY OF DAMAGES. BECAUSE SOME STATES/JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU. THE DAMAGES AVAILABLE TO YOU ARE LIMITED TO THE REFUND OF THE PURCHASE PRICE PAID FOR THE SAME.
</p><br/>
<p>If any part of this agreement is determined to be invalid or unenforceable pursuant to applicable law including, but not limited to, the warranty disclaimers and liability limitations set forth above, then the invalid or unenforceable provision will be deemed superseded by a valid, enforceable provision that most closely matches the intent of the original provision and the remainder of the agreement shall continue in effect. Unless otherwise specified herein, this agreement constitutes the entire agreement between the purchaser and user and FAXJAX.COM, INC., with respect to the web site and products purchased and it supersedes any and all prior or contemporaneous communications and proposals, whether electronic, oral or written, between the user and FAXJAX.COM, INC. with respect to the web site and products purchased by you. A printed version of this agreement and of any notice given in electronic form shall be admissible in judicial or administrative proceedings based upon or relating to this agreement to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form.
</p><br/>
<h3>TERMS OF SERVICE:</h3><br/>

<p>Because of the transferable nature of the products offered, FAXJAX.COM, INC. reserves the right to refuse to sell product or provide service to anyone, at its own discretion.
</p><br/>
<h3>DELIVERY OF PURCHASE:</h3><br/>

<p>FAXJAX.COM, INC. will provide confirmation of each purchase and delivery of the product via a confirmation email sent to the email address provided during checkout. While the delivery process is set up for instant transmission of the software access links, FAXJAX.COM, INC. will not refund the purchase price of the product because of a delay in providing confirmation. FAXJAX.COM, INC. is not responsible for any delays in transmission due to web service outages or email delivery delays. 
</p><br/>
<p>Packaged product orders are shipped via the United States Postal Service using standard service, unless otherwise specified. 
</p><br/>
<h3>PRICES, CHARGES, AND PAYMENTS:</h3><br/>

<p>All prices are in U.S. Dollars. All credit card charges must be paid in U.S. dollars; mailed payments must be sent in the form of U.S. money order, international money order, or check. All international money orders must be drawn from U.S. funds. FAXJAX.COM, INC. reserves the right to change the prices of merchandise sold on this web site at any time. 
</p><br/>
<h3>RETURNS AND REFUNDS POLICY:</h3><br/>

<p>Further, Purchaser agrees and acknowledges that the Purchaser shall be solely responsible for and shall bear (and/or reimburse) FAXJAX.COM, INC. for any charge back fees issued to FAXJAX.COM, INC. by or from any credit card company, merchant service or other source of payment that is initiated at the request of the Purchaser. Stated another way, should Purchaser request a refund or charge back from any credit card company, merchant service or other source of payment on the purchase of FAXJAX.COM, INC. product and should said card company, merchant or other source thereafter impose any fee or amount to FAXJAX.COM, INC. at the request of said Purchaser for or as a result, Purchaser shall reimburse FAXJAX.COM, INC. for the refund amount plus the said charge back fee or amount. By purchasing any software/product from FAXJAX.COM, INC., the Purchaser expressly authorizes FAXJAX.COM, INC. to direct a payment/charge to made to Purchaser's credit card account (the same being the credit card account used in the initial purchase of said software/product) in the amount of the said refund and charge back fee (or amount charged to FAXJAX.COM, INC. for such refund) plus a ten percent (10%) administrative fee. 
</p><br/>
<h3>RETURNED PAYMENTS AND CHARGE BACKS:</h3><br/>

<p>Any checks being returned due to insufficient funds or any other reason will be submitted for collection immediately. Each returned check will result in a forty dollar ($40.00) service charge to the consumer. Purchaser understands and acknowledges that should Purchaser request a refund from Purchaser's credit card company, merchant or other source of payment for the purchase price of any software/product purchased from FAXJAX.COM, INC., said credit card company, merchant or other source of payment requires that FAXJAX.COM, INC. to pay a refund or charge back fee in addition to the amount of the refund. As stated in the Return Policy, Purchaser agrees that Purchaser shall reimburse FAXJAX.COM, INC. for the amount of the refund request plus any charge back fee or amount directed to FAXJAX.COM, INC. by any card company, merchant or other source of payment as a result of Purchaser's request to said card company, merchant service or other source of payment, plus a ten percent (10%) administrative fee.
</p><br/>
<h3>INTERNATIONAL DUTIES/TAXES:</h3><br/>

<p>While the online shopping systems are set up so as to only accept orders from USA residents, FAXJAX.COM, INC. is not responsible for any duties or value-added taxes that may be assessed by your local Customs office.  
</p><br/>
<h3>CUSTOMER DATA AND PRIVACY:</h3><br/>

<p>During the transaction process, customer contact information and purchase records are collected by our systems. FAXJAX.COM, INC. reserves the right to send relevant offers via email and postal mail to our customers using this contact data.
</p><br/>
<p>THESE TERMS AND CONDITIONS ARE SUBJECT TO CHANGE WITHOUT NOTICE!
</p><br/>
<%= contact_info %>
<!-- 
<h3>To contact Faxjax.com, Inc.:<h3/>
<p>Faxjax.com, Inc.</p>
 
<p>We can also be reached at 1-855-532-9529 (855-5-faxjax) or by email at <a href="mailto:support@faxjax.com">support@faxjax.com</a>.
-->
