<table id="sign-table" cellspacing="0">
  <tr class="trh">
  
    <th>Code</th>
    <th>Listing</th>
    <th>Activated on</th>
    <th>Expires in</th>
    <th>Action</th>
  </tr>
  
  <%= render :partial => "sign", :collection => @signs %>
</table>

