<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" 
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html lang="en">
<head>
  <title>Faxjax.com, Inc.<% if !@title.nil? %> - <%= @title %><% end %></title>
  <%= stylesheet_link_tag "faxjax", :media => "all" %>
</head>
<body id="faxjax-popup" onload="focus()">
<%#= @content_for_layout %>
<%= yield %>
</body>
</html>
